<div class="card card-danger card-outline">
            <div class="card-header">
              <h3 class="card-title"><?php echo REPORTEDETAREAS ?></h3>
            </div>
            <!-- /.box-header -->
            <div class="card-body table-responsive no-padding">
              <table id="tablaGeneral" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th><?php echo IDENTIFICADOR?></th>
                  <th><?php echo FECHA?></th>
                  <th><?php echo TAREA?></th>
                  <th><?php echo REALIZADO?></th>
                  <th><?php echo ESTADO?></th>
                </tr>
                </thead>
                
                <tbody>
				<?php foreach ($validar as $datosReporte) {?>
                <tr>
                  <td>
                  <input type="button" name="edit" value="<?php echo $datosReporte['tarId']; ?>" id="<?php echo $datosReporte['tarId']; ?>" class="btn btn-danger edit_banner" />
                  </td>
                  <td><?php  echo $datosReporte['tarFecha'] ?></td>
                  <td><?php  echo $datosReporte['tarNombre']?></td>
                  <td><?php  echo $datosReporte['tarRealizado']?></td>
                  <td><?php  echo $datosReporte['tarEstado']?></td>
                </tr>


				<?php }    ?>
                </tbody>                 
                <tfoot>
                <tr>
                <th><?php echo IDENTIFICADOR?></th>
                  <th><?php echo FECHA?></th>
                  <th><?php echo TAREA?></th>
                  <th><?php echo REALIZADO?></th>
                  <th><?php echo ESTADO?></th>
                </tr>
                </tfoot>
              </table>
             
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- DataTables -->
<script>
  $(function () {
    $("#tablaGeneral").DataTable();
  });
  $(document).ready(function(){
	 $(document).on('click','#mostarmodal',function(){
		$('#modalE').modal('show');
		$('#contenidoModal').text($(this).val());
		
	 });
  });

  //Date picker
  $('#txtFechaIni').datepicker({
    autoclose: true,
    todayHighlight: true,
    language:"es",
    format: "yyyy-mm-dd"
    
    });

  $('#txtFechaFin').datepicker({
  autoclose: true,
  todayHighlight: true,
  language:"es",
  format: "yyyy-mm-dd"
  });

</script> 
     <!-- PModal -->
<div id="add_data_Modal" class="modal fade">  

      <form method="post" id="insert_form" name="frmActualizarEstadoLenguaje"> 
      <div class="modal-dialog">  
           <div class="modal-content">  
           
                <div class="modal-header"> 
                     <h4 class="modal-title"><?php echo ACTUALIZARINFORMACIONDETAREAS?></h4>  
                </div>  
                <div class="modal-body">  
                
                            <div class="modal-body">
                            <div id="resultFrmActualizarEstadoLenguaje"></div> 
                                        
                               <!-- Main content -->
    <section class="content">

<!-- Default box -->
<div class="row">
<div class="container-fluid">
<div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title"><?php echo INFORMACIONDELATAREAS?></h3>
          </div>
        <form name="frmRegistroBanner2" method="post" action="" enctype="multipart/form-data">
        <div class="card-body">
        <div class="row">
                  <div id="resultFrmActualizarTareas"></div>
                 <input name="txtHidden" id="txtHidden" type="hidden" value="actualizarTarea">
               
                <div class="col-sm-12">
                <div class="form-group">
                    <label><?php echo FECHA?>:</label>
                    <input class="form-control txtFecha" maxlength="38" name="txtFecha" id="txtFechaFin" type="text" placeholder="<?php echo FECHA ?>">
                </div>
                </div>

                <div class="col-sm-12">
                <div class="form-group">
                    <label><?php echo TAREA?>:</label>
                    
                    <input rows="4" maxlength="140" class="form-control" name="txtTarea" id="txtTarea"  placeholder="<?php echo INFORMACIONDELEVENTO ?>">
                </div>
                </div>

                <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-form-label"><?php echo REALIZADO?>:</label> 
                    <select id="cmbRealizado" name="cmbRealizado" class="form-control">
                    <option value=""><?php echo SELECCIONARESTADO?></option>
                    <option value="Si"><?php echo SI?></option>
                    <option value="No"><?php echo NOS?></option>
                    </select>
                </div>
                </div>

                <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-form-label"><?php echo ESTADO?>:</label> 
                    <select id="cmbEstado" name="cmbEstado" class="form-control">
                    <option value=""><?php echo SELECCIONARESTADO?></option>
                    <option value="A"><?php echo ACTIVO?></option>
                    <option value="I"><?php echo INACTIVO?></option>
                    </select>
                </div>
                </div>
        </div>
        </div>
        <!-- /.card-body -->
                <div class="card-footer">
                <input type="hidden" id="tareaid" name="hidId">
                <button id="frmActualizarTareas" onclick="return actualizarTareas()" type="button" class="btn btn-danger"><i class="fa fa-paper-plane-o"></i> <?php echo ENVIAR?></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo CERRAR?></button> 
                </div>
        </form>
         
</div>
</div>
</div>
<style media="screen">
                      img{
                        max-width: 250px;
                        height: auto;
                      }
                      
                      </style>
                      <script type="text/javascript">
                      (function(){
                        function filePreview(input){
                          if(input.files && input.files[0]){
                            var reader = new FileReader();
                            reader.onload = function(e){
                              $('#imagePreview11').html("<img src='"+e.target.result+"' />");
                            }
                            reader.readAsDataURL(input.files[0]);
                          }
                        }

                        $('#imagen1A').change(function(){
                          filePreview(this);
                        });


                      })();

                      (function(){
                        function filePreview(input){
                          if(input.files && input.files[0]){
                            var reader = new FileReader();
                            reader.onload = function(e){
                              $('#imagePreview22').html("<img src='"+e.target.result+"' />");
                            }
                            reader.readAsDataURL(input.files[0]);
                          }
                        }

                        $('#imagen2A').change(function(){
                          filePreview(this);
                        });


                      })();
                    </script>
</section>
                                        
                                        

                              
                                
                             
                            </div>
                            
                </div>  
                
                
           </div>  
      </div>  
      </form> 
</div>  

