<footer class="main-footer">
    <?php echo APP_COPY?>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->



<!-- jQuery -->
<script src="././html/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="././html/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="././html/plugins/datatables/jquery.dataTables.js"></script>
<script src="././html/plugins/datatables/dataTables.bootstrap4.js"></script>
<!-- Select2 -->
<script src="././html/plugins/select2/select2.full.min.js"></script>
<!-- InputMask -->
<script src="././html/plugins/input-mask/jquery.inputmask.js"></script>
<script src="././html/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="././html/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- Bootstrap Date Picker -->
<script src="././html/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="././html/plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script src="././html/plugins/datepicker/locales/bootstrap-datepicker.<?php echo $idioma?>.js"></script>
<!-- date-range-picker -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="././html/plugins/daterangepicker/daterangepicker.js"></script>
 
<!-- bootstrap time picker -->
<script src="././html/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="././html/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="././html/plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="././html/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="././html/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="././html/dist/js/demo.js"></script>
<!-- Page script -->
<script>
  $(function () {
 //Date picker
 $('#txtFechaIni').datepicker({
    autoclose: true,
    todayHighlight: true,
    language:"es",
    format: "yyyy-mm-dd"
    
    })

  $('#txtFechaFin').datepicker({
  autoclose: true,
  todayHighlight: true,
  language:"es",
  format: "yyyy-mm-dd"
  })


   

  });
</script>
</body>
</html>