<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><?php echo APP_TITLE ?></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="././html/plugins/bootstrap/css/bootstrap.min.css">
   <!-- Font Awesome -->
   <link rel="stylesheet" href="././html/plugins/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="././html/plugins/datatables/dataTables.bootstrap4.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="././html/plugins/daterangepicker/daterangepicker-bs3.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="././html/plugins/iCheck/all.css">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="././html/plugins/colorpicker/bootstrap-colorpicker.min.css">
   <!-- Bootstrap Date Picker -->
   <link rel="stylesheet" href="././html/plugins/datepicker/css/bootstrap-datepicker3.min.css">
   <link rel="stylesheet" href="././html/plugins/datepicker/css/bootstrap-datepicker3.css">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="././html/plugins/timepicker/bootstrap-timepicker.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="././html/plugins/select2/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="././html/dist/css/adminlte.min.css">
  <!-- Js jquery -->
  <script src="././html/dist/js/jquery-2.2.3.min.js"></script>
   <!-- Js validar -->
  <script src="././html/dist/js/validar.js"></script>
  <!-- Js AJAX -->
  <script src="./html/dist/js/ajax.js"></script>
    
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">