<div class="row">
        <?php include "././html/menus/menulogin.php";?>  
 </div>
<div class="login-box">
  <!-- /.login-logo -->
      <div id="resultFrmLogin"></div>
      <form action="" name="frmLogin" method="post">
	        <div class="col-md-12"> 
            <div class="card card-legendarios">
              <div class="card-header">
                <h3 class="card-title"><?php echo BIENVENIDOSIEVENTS ?></h3>
              </div>
              <!-- /.card-header -->
                  <div class="card-body">
                  <div id="accordion">
                      <!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
                      <div class="form-group">
                        <label><?php echo USUARIO?></label>
                        <input name="txtUsuario" id="txtUsuario" type="text" class="form-control" placeholder="<?php echo USUARIO?>">
                      </div>
                      <div class="form-group">
                        <label><?php echo CONTRASENA?></label>
                        <input name="txtPassword" id="txtPassword" type="password" class="form-control" placeholder="<?php echo CONTRASENA?>">
                      </div>
                      <div class="card-body">
                        <input type="button" id="frmLogin" class="btn btn-block btn-secondary" onclick="return login(frmLogin)" value="Enviar">
                      </div>    
                  </div>
                  </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
	    </form>
</div>
<!-- /.login-box -->
