<div class="row">
        <?php include "././html/menus/menuinscripciones.php";?>  
 </div>
<div class="login-box">
  <!-- /.login-logo -->
 
		<form action="" method="post" name="frmRec">
     

      <div id="resultFrmNuevaInscripcionREC"></div>
	  <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><?php echo BIENVENIDOSALEGENDARIOSLAFRATERNIDAD ?></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div id="accordion">
                  <!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
                  <div class="card card-legendarios">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#regLegendarios" class="collapsed" aria-expanded="false">
						<?php echo REGISTROLEGENDARIOS ?>
                        </a>
                      </h4>
                    </div>
                    <div id="regLegendarios" class="panel-collapse in collapse" style="">
                      <div class="card-body"  align="center">
							          <div class="col-lg-8 col-12">
                        <!-- small box -->
                        <div class="info-box">
                        <span class="info-box-icon bg-legendarios"><font color="#fff"><i class="fa fa-user-plus"></i></font></span>

                        <div class="info-box-content">
                          <span class="info-box-text">&nbsp;</span>
                          <span class="info-box-number"><a style="text-decoration:none;color:gray;" href="#" onclick="enviar('<?php echo $idioma?>','registrolegendario')" class="small-box-footer"><?php echo REGISTRARSE ?> <i class="fa fa-arrow-circle-right"></i></a>
                          </span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
								</div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-danger">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#regREC" class="collapsed" aria-expanded="false">
                        <?php echo REGISTROREC ?>
                        </a>
                      </h4>
                    </div>
                    <div id="regREC" class="panel-collapse collapse">
                      <div class="card-body" align="center">
                                <div class="col-lg-8 col-12">
                                  <!-- small box -->
                                  <div class="info-box">
                                  <span class="info-box-icon bg-danger"><font color="#fff"><i class="fa fa-user-plus"></i></font></span>

                                  <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <span class="info-box-number"><a style="text-decoration:none;color:gray;" href="#" onclick="enviar('<?php echo $idioma?>','registrorec')" class="small-box-footer"><?php echo REGISTRARSE ?> <i class="fa fa-arrow-circle-right"></i></a>
                                    </span>
                                  </div>
                                  <!-- /.info-box-content -->
                                </div>
                                </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-danger">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#regServidoresREC" class="collapsed" aria-expanded="false">
                        <?php echo REGISTROSERVIDORESREC ?>
                        </a>
                      </h4>
                    </div>
                    <div id="regServidoresREC" class="panel-collapse collapse">
                      <div class="card-body" align="center">
                                <div class="col-lg-8 col-12">
                                  <!-- small box -->
                                  <div class="info-box">
                                  <span class="info-box-icon bg-danger"><font color="#fff"><i class="fa fa-user-plus"></i></font></span>

                                  <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <span class="info-box-number"><a style="text-decoration:none;color:gray;" href="#" onclick="enviar('<?php echo $idioma?>','registroservidoresrec')" class="small-box-footer"><?php echo REGISTRARSE ?> <i class="fa fa-arrow-circle-right"></i></a>
                                    </span>
                                  </div>
                                  <!-- /.info-box-content -->
                                </div>
                                </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-success">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#regTrainingDay" class="collapsed" aria-expanded="false">
                        <?php echo REGISTRTRAININGDAY ?>
                        </a>
                      </h4>
                    </div>
                    <div id="regTrainingDay" class="panel-collapse collapse">
                      <div class="card-body" align="center">
                                <div class="col-lg-8 col-12">
                                  <!-- small box -->
                                  <div class="info-box">
                                  <span class="info-box-icon bg-success"><font color="#fff"><i class="fa fa-user-plus"></i></font></span>

                                  <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <span class="info-box-number"><a style="text-decoration:none;color:gray;" href="#" onclick="enviar('<?php echo $idioma?>','registrotrainingday')" class="small-box-footer"><?php echo REGISTRARSE ?> <i class="fa fa-arrow-circle-right"></i></a>
                                    </span>
                                  </div>
                                  <!-- /.info-box-content -->
                                </div>
                                </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>






	  </form>
</div>
<!-- /.login-box -->
