<?php include("./html/menus/menuAdmin.php");?>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><?php echo REGISTRO?></li>
              <li class="breadcrumb-item active"><?php echo INFORMACIONDELEVENTO." (".BANNER.")";?></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="row">
      <div class="container-fluid">
      <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title"><?php echo INFORMACIONDELEVENTO." (".BANNER.")";?></h3>
                </div>
              <form name="frmRegistroBanner" method="post" action="" enctype="multipart/form-data">
              <div class="card-body">
              <div class="row">
                        <div id="resultFrmRegistroBanner"></div>
                       <input name="txtHidden_registro" id="txtHidden_registro" type="hidden" value="registroBanner">
                      <?php if($_SESSION['multilenguaje']=="S") { ?>

                      <div class="col-sm-6">
                      <div class="form-group">
                          <label><?php echo LENGUAJE?>:</label>
                        <?php echo $lenguajes ?> 
                      </div>
                      </div>
                      <?php } else { ?>
                        <input name="valorLenguaje" id="valorLenguaje" type="hidden" value="<?php echo $idioma;?>">
                      <?php } ?>
                      <div class="col-sm-12">
                      <div class="form-group">
                          <label><?php echo NOMBREDELEVENTO?>:</label>
                          <input class="form-control" maxlength="38" name="txtNombreEvento" id="txtNombreEvento" type="text" placeholder="<?php echo NOMBREDELEVENTO ?>">
                      </div>
                      </div>

                      <div class="col-sm-12">
                      <div class="form-group">
                          <label><?php echo INFORMACIONDELEVENTO?>: <?php echo LETRAS140?></label>
                          
                          <textarea rows="4" maxlength="140" class="form-control" name="txtInformacionEvento" id="txtInformacionEvento" placeholder="<?php echo INFORMACIONDELEVENTO ?>"></textarea>
                      </div>
                      </div>

                      <div class="col-sm-6">
                      <div class="form-group">
                          <label><?php echo IMAGEN?> 1: <?php echo TAMANO1200X1000?></label>
                          <div id="imagePreview">
                          </div>
                          <div name="txtImagen1" class="btn btn-default btn-file">
                            <i class="fa fa-paperclip"></i><?php echo IMAGEN?> 1:
                            <input type="file" name="txtImagen1" id="imagen1">
                          </div>          
                      </div>
                      </div>
                     
                      <div class="col-sm-6">
                      <div class="form-group">
                          <label><?php echo IMAGEN?> 2: <?php echo TAMANO1200X1000?></label>
                          <div id="imagePreview2">
                          </div>
                          <div name="txtImagen2" class="btn btn-default btn-file">
                            <i class="fa fa-paperclip"></i><?php echo IMAGEN?> 2:
                            <input type="file" name="txtImagen2" id="imagen2">
                          </div>
                      </div>
                      </div>
              </div>
              </div>
              <!-- /.card-body -->
                      <div class="card-footer">
                      <button id="frmRegistroBanner" onclick="return registroInfoBanner(frmRegistroBanner)" type="button" class="btn btn-danger"><i class="fa fa-paper-plane-o"></i> <?php echo ENVIAR?></button>
                      </div>
              </form>
      </div>
      </div>
      </div>
      
      
                    <style media="screen">
                      img{
                        max-width: 300px;
                        height: auto;
                      }
                      
                      </style>
                      <script type="text/javascript">
                      (function(){
                        function filePreview(input){
                          if(input.files && input.files[0]){
                            var reader = new FileReader();
                            reader.onload = function(e){
                              $('#imagePreview').html("<img src='"+e.target.result+"' />");
                            }
                            reader.readAsDataURL(input.files[0]);
                          }
                        }

                        $('#imagen1').change(function(){
                          filePreview(this);
                        });


                      })();

                      (function(){
                        function filePreview(input){
                          if(input.files && input.files[0]){
                            var reader = new FileReader();
                            reader.onload = function(e){
                              $('#imagePreview2').html("<img src='"+e.target.result+"' />");
                            }
                            reader.readAsDataURL(input.files[0]);
                          }
                        }

                        $('#imagen2').change(function(){
                          filePreview(this);
                        });


                      })();
                    </script>

       <!-- Default box -->
       <div class="row">
      <div class="container-fluid">
      <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title"><?php echo ACTUALIZARENTRADASDELEVENTO." (".BANNER.")";?></h3>
                </div>
              <form name="frmNuevaIglesia" method="post" action="">
              <div class="card-body">
              <div class="row">
                        
                        <form name="frmConsultarBanner" method="post" action="">
                          <div class="col-sm-12">
                            <div class="form-group">
                            <input name="txtHidden_Reporte" id="txtHidden_Reporte" type="hidden" value="actualizarbanner">
                            <button id="frmConsultarBanner" type="button" class="btn btn-danger"><i class="fa fa-paper-plane-o"></i> <?php echo CONSULTAR?></button> 
                            </div>
                          </div> 
                        </form>
                        <div class="col-sm-12">
                          <div class="form-group">
                          <div id="resultFrmConsultarBanner"></div>
                          </div>
                        </div> 
                     
              </div>
              </div>
              <!-- /.card-body -->
              </form>
      </div>
      </div>
      </div>





    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->