<?php include("./html/menus/menuAdmin.php");?>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a onclick="enviar('<?php echo $idioma?>','inicio')" href="#"><?php echo INICIO?></a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="row">
      <div class="container-fluid">
      <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title"><?php echo BIENVENIDOS?></h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                
              <div class="widget-user-image">
                <img class="img-fluid" src="./html/img/logop.png">
              </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
              &nbsp; 
              </div>
            </div>
      </div>
      </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->