<?php include("./html/menus/menuAdmin.php");?>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><?php echo REGISTRO?></li>
              <li class="breadcrumb-item active"><?php echo NUEVOIDIOMA?></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="row">
      <div class="container-fluid">
      <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title"><?php echo REPORTEDETAREAS?></h3>
                </div>
              <form name="frmNuevaTarea" method="post" action="">
              <div class="card-body">
              <div class="row">
                       
                       <input name="txtHidden_registro" id="txtHidden_registro" type="hidden" value="registroIdioma">
                      <div class="col-sm-4">
                      <div class="form-group">
                          <label><?php echo FECHA ?>:</label>
                          <input name="txtFecha"  id="txtFechaIni" type="text" class="form-control" placeholder="<?php echo FECHA?>">                          
                      </div>
                    
                      </div>
              </div>
              </div>
              <!-- /.card-body -->
                      <div class="card-footer">
                      <button id="frmReporteTarea" onclick="return nuevaTarea(frmNuevaTarea)" type="button" class="btn btn-danger"><i class="fa fa-paper-plane-o"></i> <?php echo ENVIAR?></button>
                      </div>
              </form>
      </div> <div id="resultFrmReporteTarea"></div>
      </div>
      </div>







    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->